@model IGILab1Norm.Rent
@using IGILab1Norm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (@Html.BeginForm("SaveChanges", "Rent", FormMethod.Post))
{
    <input type="hidden" value="@Model.RentID" name="RentID" />
    <div class="form-group">
        <label for="Clients">Select client</label>
        <select class="form-control" id="Client" name="Client" >
            @{
                List<Client> clients = (List<Client>)ViewData["Clients"];
                Client currentClient = clients.Where(x => x.Id == Model.ClientID).First();
                clients.Remove(currentClient);
                clients.Insert(0, currentClient);
                foreach (var item in clients)
                {
                    <option value=@item.Id>
                        @item.ClienFIO
                    </option>

                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Car">Select car</label>
        <select class="form-control" id="Car" name="Car">
            @{
                List<Car> cars = (List<Car>)ViewData["Cars"];
                Car currentCar = cars.Where(x => x.CarID == Model.CarID).First();
                cars.Remove(currentCar);
                cars.Insert(0, currentCar);
                foreach (var item in cars)
                {
                    <option value=@item.CarID>
                        @item.CarMark @item.RegNum
                    </option>

                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="RentDate">Input rent date</label>

        @Html.EditorFor(model => Model.RentDate)
    </div>
    <div class="form-group">
        <label for="DateGet">Input date get</label>

        @Html.EditorFor(model => Model.DateGet)
    </div>
    <div class="form-group">
        <label for="RentPrice">Input rent price</label>

        @Html.EditorFor(model => Model.RentPrice)
    </div>
    <div class="form-group">
        <label for="Paid">Input is paid</label>

        @Html.EditorFor(model => Model.Paid)
    </div>
    <div class="form-group">
        <label for="WorkerFIO">Input worker fio</label>

        @Html.EditorFor(model => Model.WorkerFIO)
    </div>
    <input type="submit" />

}